.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px 50px;
    width: 100%;
    height: auto;
}

.habit-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: auto;
    max-width: 700px;
    padding: 15px 20px;
    background-color: var(--bg-card-color);
    border-radius: 16px;
    box-shadow: var(--card-shadow);
    position: relative;
}

p {
    position: relative;
}

input.form-control, textarea.form-control {
    width: 90%;
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid var(--enfasis-color);
    background-color: var(--bg-card-color);
    color: var(--text-primary-color);
}

input.form-check-input {
    display: flex;
}

label {
    color: var(--text-secondary-color);
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    top: -20px;
    left: 0px;
}