{% extends 'base/base.html' %}
{% block styles %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/habits/habit_list.css' %}">
{% endblock %}

{% block title %}Habits{% endblock %}
{% block content %}
<div class="main-container">
    <h1>Your Daily Habits</h1>
    <nav class="habit-nav">
        <a class="btn" href="{% url 'habit_create' %}">New Habit</a>
    </nav>
    <ul class="habit-list">
        {% for habit in object_list %}
            <li class="habit-item">
                <h2>{{ habit.name }}</h2>
                <p>{{ habit.description }}</p>
                <a class="btn" href="{% url 'habit_detail' habit.id %}">View Details</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}