.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--button-color);
    color: var(--text-primary-color);
    width: fit-content;
    font-size: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}